@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    position: relative;
    z-index: 0;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c220 C 57.6%2c200.2 172.8%2c128.2 288%2c121 C 403.2%2c113.8 460.8%2c180.6 576%2c184 C 691.2%2c187.4 748.8%2c138.6 864%2c138 C 979.2%2c137.4 1036.8%2c189.4 1152%2c181 C 1267.2%2c172.6 1382.4%2c113 1440%2c96L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c505 C 96%2c464.6 288%2c312.2 480%2c303 C 672%2c293.8 768%2c453 960%2c459 C 1152%2c465 1344%2c358.2 1440%2c333L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.04; /* Adjust the opacity value as needed */
    z-index: -1;
  }
  :root {
    --background: #f3f6ff;
    --foreground: #1f3f5f;

    --primary: #c6e3ff;
    --primary-foreground: #2155c5;

    --secondary: #a5a5a6;
    --secondary-foreground: #555555;

    --heading: #2f3147;

    --text-hover: #134cc6;
    --accent: #003cbd;
    --border: #94a3b8;
  }

  .dark {
    --background: #121212;
    --foreground: #1f3f5f;

    --primary: #c6e3ff;
    --primary-foreground: #2155c5;

    --secondary: #a5a5a6;
    --secondary-foreground: #b4b4b4;

    --heading: #2f3147;

    --text-hover: #4680ff;
    --accent: #003cbd;
    --border: #94a3b8;
  }
}

@layer utilities {
  .nav {
    @apply hidden md:flex h-20 sticky z-[50] inset-x-0 top-0 w-full transition-all  shadow-primary border-primary animate-border overflow-hidden bg-white dark:bg-background;
  }

  .nav-mobile {
    @apply z-[50] md:hidden flex justify-between px-2 items-center shadow-primary animate-border overflow-hidden sticky inset-x-0 top-0 h-20 w-full bg-white dark:bg-background;
  }

  .animated-border {
    @apply absolute inset-x-0 bottom-0 h-[3px] bg-gradient-to-r from-primary-foreground to-secondary-foreground bg-[length:400%_400%] animate-border;
  }

  .animated-border-sheet {
    @apply absolute inset-y-0 left-0 w-[3px] bg-gradient-to-b from-primary-foreground to-secondary-foreground bg-[length:400%_400%] animate-border;
  }

  .select-item {
    @apply cursor-pointer transition-all hover:bg-slate-100 flex gap-2 text-black dark:text-white;
  }

  .cards-section {
    @apply flex flex-col justify-center items-center gap-10 opacity-0;
  }

  .cards-section-item {
    @apply flex flex-col items-center text-center gap-5 border-[1px] border-primary-foreground p-8 rounded-lg transition-all relative cursor-pointer hover:bg-blue-700/20 lg:w-1/4;
  }
  .cards-section-item-selected-box {
    @apply absolute top-2 left-2 w-7 h-7 border-[1px] border-primary-foreground rounded-lg flex justify-center items-center z-10 bg-white;
  }
}
